

.table-container {
  width: 100%;
  padding: 2rem;
  border: 0.1rem solid rgb(176, 166, 149); 
  border-radius: 0.5rem;
}

.table-wrapper {
  overflow: auto;
  max-height: 500px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.custom-header,
.custom-row,
.custom-cell {
  border: 1px solid rgb(176, 166, 149);
  padding: 8px;
  text-align: left;
  width: 50%;
}

.custom-header {
  background-color: #f3eeea;
  color: rgb(119, 107, 93);
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

.custom-row:nth-child(even) {
  background-color: #ebe3d5;
}

.custom-cell {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 1rem;
  text-align: center;
  color: #776b5d;
}

.pagination-container {
  margin-bottom: 10px;
}
